<%- include('partials/head.ejs') %>
</head>

<body>
    <%- include('partials/navigation.ejs') %>
    <h1>Erro!</h1>
    <h1>Ocorreu um erro interno. Estamos trabalhando para resolver o mais rápido possível.</h1>

<%- include('partials/footer.ejs') %>